.safety-program-section #steps h2 {
    color: #00487c;
    font-size: 28px;
    font-weight: 700;
}
.border-safety{
  background:#fff;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 30%);
  padding:15px;
}
.step{
  font-size:18px;
  color:#00487C;
  text-transform:uppercase;
  font-weight:600;
  display:block;
  margin-bottom:10px;
}
.card-elem{
  border: 2px #00487c solid;
  background: #f4f4f4;
  -webkit-box-shadow: 4px 0px 6px -2px #00000029;
  border-radius: 10px;
  box-shadow: 4px 0px 6px -2px #00000029;
  min-height: 290px;
  padding: 15px 30px;
}

.card-elem .number{
  background: url('https://f.hubspotusercontent00.net/hubfs/8958354/Cosmetica%202021/blue-ring.svg') no-repeat center;
  background-size: cover;
  color: #FFFFFF;
  display: inline-block;
  font-size: 30px;
  height: 50px;
  line-height: 45px;
  margin-bottom: 40px;
  text-align: center;
  width: 50px;
}

@media(max-width: 768px){
  .card-elem{
    min-height: unset;
    padding: 10px 20px;
  }

  .card-elem .number{
    font-size: 20px;
    height: 40px;
    line-height: 35px;
    margin-bottom: 15px;
    width: 40px;
  }

  .safety-img{
    margin: 0 auto;
    width: 240px;
  }
}
#steps h3{
  text-transform: uppercase;
  color: #00487C;
  font-size:18px;
}
#steps .txt p{
  color:#666
}
.safety-paragraph, .safety-paragraph p, .safety-paragraph span {
  color: #666 !important;
  font-family: Raleway,sans-serif !important;
  font-weight: 400 !important;
  text-align: justify !important;
  line-height: 1.75 !important;
  font-size: 18px !important;
  letter-spacing: .25px !important;
}

.safety-program-section .btn-show-steps {
  background: transparent;
  border-bottom: 0;
  color: #4AACCF;
  font-size: 24px;
  font-weight: 700;
  height: auto;
  line-height: 40px;
  min-width: 240px;
  text-transform: uppercase;
  border-color:transparent;
}
.safety-program-section .btn-show-steps {
  position:relative;
  display: block;
  width: 100%;
  text-align: left;
}
.safety-program-section .btn-show-steps.up {
   color: #00487C;
}
.safety-program-section .btn-show-steps:after {
 content: "\f067";
 font-family: "Font Awesome 5 Free";
 position:absolute;
 right:0;
 top:50%;
 transform: translateY(-50%);
}
.safety-program-section .btn-show-steps.up:after {
  content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    float: right;
}
.safety-program-section .btn-show-steps:hover {
  background: transparent;
  border-bottom: 0;
  color: #00487C;
  font-weight: 700;
  height: auto;
  min-width: 240px;
  text-transform: uppercase;
}
.safety-program-section .btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}
.safety-program-section .btn-show-steps:active{
    color: #00487C!important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow:none!important;
}
.safety-steps-block {
  height:fit-content;
  padding-top:30px;
}
.safety-steps-block.noheight{
  height: 0;
  overflow: hidden;
  padding-top:0px;
}