<style>
  .certification-img{
    max-width: 200px;
    width: 100%;
  }
</style>
<section id="block-{{ module.n_mero_de_bloque }}" class="certifications-section py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-4">
        <h2>{{ module.t_tulo }}</h2>
        <div>
          {{ module.p_rrafo }}
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for item in module.certificaciones %}
      <div class="col-3 col-lg-3 my-2 text-center">
        {% if item.certificaci_n.src %}
        {% set sizeAttrs = 'width="{{ item.certificaci_n.width }}" height="{{ item.certificaci_n.height }}"' %}
        {% if item.certificaci_n.size_type == 'auto' %}
        {% set sizeAttrs = 'style=""' %}
        {% elif item.certificaci_n.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ item.certificaci_n.max_width }}" height="{{ item.certificaci_n.max_height }}" style=""' %}
        {% endif %}
        {% set loadingAttr = item.certificaci_n.loading != 'disabled' ? 'loading="{{ item.certificaci_n.loading }}"' : '' %}
        <img src="{{ item.certificaci_n.src }}" alt="{{ item.certificaci_n.alt }}" {{ loadingAttr }} {{ sizeAttrs }} class="img-fluid certification-img" loading="lazy" width="200" height="200" />
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>