<!--
templateType: page
isAvailableForNewContent: true
-->
<!DOCTYPE html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>

  <head>
    <meta charset="utf-8">
<!--     <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    <meta name="keywords" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ get_asset_url('/Cosmetica 2021/assets/css/owl/owl.carousel.min.css') }}" />
	  <link rel="stylesheet" href="{{ get_asset_url('/Cosmetica 2021/assets/css/owl/owl.theme.default.min.css') }}" />
    
    {#<link rel="stylesheet" href="{{ get_asset_url('/Marketplace/webdew/Clear_-_Blog_Listing/Coded File/style.css') }}" />#}
    <link rel="stylesheet" href="{{ get_asset_url('/Cosmetica 2021/assets/css/style.css') }}" />
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    {{ standard_header_includes }}
    
  </head>
  
  <body>
  {% module "module_164324510735750" path="/Cosmetica 2021/modules/Navbar Global Spanish", label="Navbar Global Spanish" %}
    
    {% block body %}
    {% endblock body %}
    {% include './partials/footer-espanol.html' %}

    {{ standard_footer_includes }}



    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
      
        jQuery(document).ready(function($) {

         $(function () {

          var youtube = document.querySelectorAll( ".youtube" );
             var source ="";
           //  loop
           for (var i = 0; i < youtube.length; i++) { 
            /**   // Load the image asynchronously
             var image = new Image();
               image.src = source;
               image.addEventListener( "load", function() {
                 youtube[ i ].appendChild( image );
               }( i ) );**/
               youtube[i].addEventListener( "click", function() {

               var iframe = document.createElement( "iframe" );

                 iframe.setAttribute( "frameborder", "0" );
                 iframe.setAttribute("width","100%");
                 iframe.setAttribute("height","100%");
                 iframe.setAttribute( "allowfullscreen", "" );
                 iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );

                 this.innerHTML = "";
                 this.appendChild( iframe );
             } );
           }
        });


        });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var lazyloadImages;    

        if ("IntersectionObserver" in window) {
          lazyloadImages = document.querySelectorAll(".lazy");
          var imageObserver = new IntersectionObserver(function(entries, observer) {
            entries.forEach(function(entry) {
              if (entry.isIntersecting) {
                var image = entry.target;
                image.classList.remove("lazy");
                imageObserver.unobserve(image);
              }
            });
          });

          lazyloadImages.forEach(function(image) {
            imageObserver.observe(image);
          });
        } else {  
          var lazyloadThrottleTimeout;
          lazyloadImages = document.querySelectorAll(".lazy");

          function lazyload () {
            if(lazyloadThrottleTimeout) {
              clearTimeout(lazyloadThrottleTimeout);
            }    

            lazyloadThrottleTimeout = setTimeout(function() {
              var scrollTop = window.pageYOffset;
              lazyloadImages.forEach(function(img) {
                  if(img.offsetTop < (window.innerHeight + scrollTop)) {
                    img.src = img.dataset.src;
                    img.classList.remove('lazy');
                  }
              });
              if(lazyloadImages.length == 0) { 
                document.removeEventListener("scroll", lazyload);
                window.removeEventListener("resize", lazyload);
                window.removeEventListener("orientationChange", lazyload);
              }
            }, 20);
          }

          document.addEventListener("scroll", lazyload);
          window.addEventListener("resize", lazyload);
          window.addEventListener("orientationChange", lazyload);
        }
      })

    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{{ get_asset_url('/Cosmetica 2021/assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ get_asset_url('/Cosmetica 2021/assets/js/main.js') }}"></script>


  </body>
</html>
